<div class="container">

  <h1>Aplikacja do wyliczania kwot dla funduszy inwestycyjnych</h1>

  <div id="fundsTable" ng-show="areFundsLoaded">
    <p>Wybierz fundusz</p>
    <table class="table table-hover table-striped">
      <thead class="thead-light">
        <th>LP</th>
        <th>Rodzaj</th>
        <th>Nazwa</th>
      </thead>
      <tbody>
        <tr ng-repeat="fund in funds track by $index" ng-click="fundClicked(fund)" ng-class="{'table-primary': fund.selected === true}">
          <td ng-model="fund.selected" ng-init="fund.selected=false">{{$index + 1}}</td>
          <td>{{matchFundType(fund.type)}}</td>
          <td>{{fund.name}}</td>
        </tr>
    </tbody>
    </table>
  </div>

  <form ng-show="areStrategiesLoaded" id="form1">
    <div>
    <p>Strategia inwestycyjna</p>
    <div ng-repeat="strategyName in strategies">
        <label>
          <input type="radio" name="strategies-radio" ng-value="strategyName" ng-click="strategyClicked(strategyName)" required />
          {{matchInvestmentStrategy(strategyName)}}
        </label>
    </div>
    </div>

    <div>
      <p>Kwota do zainwestowania</p>
      <input type="number" pattern="[0-9]" class="form-control" ng-model="amount" title="Wymagana liczba całkowita" required />
    </div>

    <button class="btn btn-primary" ng-click="calculatePlan()" form="form1" type="submit">Oblicz plan</button>

  </form>

  <div ng-if="plan">
    <h2>Plan inwestycji</h2>

    <table class="table table-hover table-striped">
      <thead class="thead-light">
        <th>LP</th>
        <th>Rodzaj</th>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Procent</th>
      </thead>
      <tbody ng-repeat="investment in plan.fundAllocationList track by $index">
        <td>{{$index + 1}}</td>
        <td>{{matchFundType(investment.type)}}</td>
        <td>{{investment.name}}</td>
        <td>{{investment.amount}} PLN</td>
        <td>{{investment.share | percentage:0}}</td>
      </tbody>
    </table>
    <p ng-if="plan.residual > 0" class="bg-warning">Nie wykorzystano całej kwoty, <strong>{{plan.residual}}</strong> PLN zostanie zwrócone na państwa rachunek.</p>
  </div>
  
</div>
